body{
  background-color: #003300;
}
h1{
  text-align: center;
  border: 3px solid #ff9900;
  padding: 4px;
  color: #ffff1c;
  background-color: #5a5b4f;
  margin-left: 150px;
  margin-right: 150px;
  font-family: monospace;
}
p{
  text-align: center;
  border: 3px solid #ff9900;
  padding: 4px;
  color: #ffff1c;
  background-color: #5a5b4f;
  margin-left: 150px;
  margin-right: 150px;
  font-family: monospace;
}
#userInterface{
  text-align: center;
  border: 3px solid #ff9900;
  padding: 4px;
  color: #e60000;
  background-color: #5a5b4f;
  margin-left: 150px;
  margin-right: 150px;
  font-family: monospace;
}
#numberOutput{
  display: none;
  text-align: center;
  border: 3px solid #ff9900;
  padding: 4px;
  color: #ffff1c;
  background-color: #5a5b4f;
  margin-left: 150px;
  margin-right: 150px;
  font-family: monospace;
}
